* {
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.heading-title{
    max-height: 64.5vh;
}
.navbar-toggler{
    height: 55px;
    border-radius: 50%;
}
.bgc-primary{
    background-color: #7857fe;
}
.color-primary{
    color: #7857fe;
}
.price{
    font-size: 4.2rem;
}
.navbar-brand{
    font-weight: 500;
}
li a:hover, .active{
    border-bottom: 1.5px solid #fff;
}
.download-btn{
    padding: 10px 18px;
    color: #7857fe;
    background-color: white;
    box-shadow: 1px 1px 10px #4e4e4e;
}
.download-btn:hover{
    color: white;
    background-color: #7857fe;
}
.get-started{
    padding: 10px 18px;
}
.get-started:hover{
    background-color: #3300ff;
}
.collapse-section{
    background-color: #f0f0f0;
}
.collapse-section a{
    padding: 18px;
    font-size: 1.2rem;
}
.fa-play{
    font-size: 23px;
    color: #7857fe;
    margin-top: 1px;
}
.info-icon{
    font-size: 30px;
    color: #7857fe;
    margin-top: 12px;
}
.play{
    width: 52px;
    height:52px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #4e4e4e;
}
.play:hover .fa-play{
    color: white;
}
.play:hover{
    background-color: #7857fe;
}
.header{
    border-radius:0 0  230px;
    padding: 20px 0;
    min-height: 100vh;
}
.header-img{
    max-width: 57%;
    animation: image .5s ease-in-out infinite alternate;
}
.icon{
    font-size: 40px;
    color: #7857fe;
}
.box-shadow{
    box-shadow: 5px 5px 10px #aaaaaa;
    border-radius: 15px;
}
.box-shadow:hover{
    box-shadow: 10px 10px 30px #aaaaaa;
    transform: scale(1.01);
}
p{
    color:#575757;
}
.first-p{
    color: white;
}
h2{
    font-weight: 600;
    font-size: 2.5rem;
}
.fun-facts{
    background-color: #f6f6f6;
    padding: 73px 0;
    margin: 100px 0;
}
.message{
    height: 12rem;
}
.commons{
    border-radius: 15px;
}
.input-shadow{
    box-shadow: 5px 5px 20px lightgrey;
    padding: 1rem;
    border-radius: 10px;
}
.downloads{
    background-color: #ff4665;
}
.likes{
    background-color: #ffbb00;
}
.award{
    background-color: rgb(0, 38, 255);
}
.parent{
    background-color: rgba(4, 0, 255, 0.5);
    padding:82px 0;
}
.number{
    background-color: #7857fe;
    border-radius: 50%;
    padding: 1rem 1.6rem;
    position: relative;
    z-index: 1;
}
.line{
    width: 75%;
    margin: 0 auto;
    height: 5px;
    background-color: #7857fe;
    position: relative;
    top: 140px;
}
.line2{
    width: 55%;
    margin: 0 auto;
    height: 5px;
    background-color: #7857fe;
    position: relative;
    top: 480px;
    display: none;
}
.one{
    padding: 1rem 1.8rem;
}
.download-apps{
    background-image: url(images/download-app-bg.jpg);
    background-repeat: no-repeat;
}
.fa-quote-right{
    position: absolute;
    top: 85px;
    left: 57.5%;
    background-color: #7857fe;
    padding: .5rem;
    border-radius: 50%;
    color: white;
}
.single-user{
    position: relative;
}
#second-img{
    max-width: 42%;
}
.profile-pic{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    border: 3px solid #7857fe;
}
.fa-star{
    color:#ffbb00; 
}
@keyframes image {
    0%{
        margin-top: 0;
    }
    100%{
        margin-top: 28px;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 1400px) { 
    .fa-quote-right{
        left: 59%;
    }
    .heading-title{
        max-height: 56vh;
    }
 }
@media (max-width: 1200px) { 
    .fa-quote-right{
        left: 61%;
    }
    .heading-title{
        max-height: 47vh;
    }
 }
@media (max-width: 992px) { 
    .header{
        border-radius:0 0  150px;
    }
    .line{
        width: 55%;
    }
    .line2{
        display: block;
    }
    .fa-quote-right{
        left: 59.5%;
    }
    .header-img{
        max-height: 90%;
    }
}
@media (max-width: 767px) { 
    .line2,.line{
        display: none;
    }
    .fa-quote-right{
        left: 56%;
    }
    .header{
        height: 1050px;
    }
    .header-img{
        max-height: 100%;
    }
 }
 @media (max-width: 576px) { 
    .fa-quote-right{
        left: 57.5%;
    }
  }
